<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="/">
          {% image ag-logo-sm.png class:"logo" alt:"Automate Green"%}
        </a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li>
        <a href="/signup">Price</a>
      </li>
      <li>
        <a href="https://app.automategreen.com">Beta login</a>
      </li>
    </ul>
  </section>
</nav>
