<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            {% image ag-logo-sm.png class:"logo" alt:"Automate Green"%}
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li>
          <a href="mailto:support@automategreen.com"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/AutomateGreen"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://github.com/automategreen"><i class="fa fa-fw fa-github" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="/signup">Pricing</a>
        </li>
        <li>
          <a href="https://blog.automategreen.com">Blog</a>
        </li>
        <li>
          <a href="http://docs.automategreen.com/api/">API</a>
        </li>
        <li>
          <a href="https://app.automategreen.com">Sign In</a>
        </li>
      </ul>
    </section>
  </nav>
</div>
