<div class="row">
  <div class="medium-4 columns text-center">
    <h3><i class="fa fa-fw fa-cogs" aria-hidden="true"></i> Maker Model</h3>
    <h3 class="price">$89 <small><strike>$129</strike></small></h3>
    <p><strong>Save $40</strong></p>
    <button class="button radius" data-celery="574b45958813941100091037">
      Pre-Order Now!
    </button>
  </div>
  <div class="medium-4 columns text-center">
    <h3><i class="fa fa-fw fa-wifi" aria-hidden="true"></i> WiFi Model</h3>
    <h3 class="price">$109 <small><strike>$149</strike></small></h3>
    <p><strong>Save $40</strong></p>
    <button class="button radius" data-celery="574b41d36f745a1100a72c95">
      Pre-Order Now!
    </button>
  </div>
  <div class="medium-4 columns text-center">
    <h3><i class="fa fa-fw fa-signal" aria-hidden="true"></i> Mobile 3G Model</h3>
    <h3 class="price">$199<a href="/pricing/#mobile-data-plan" title="$6/mo data plan required"><sup>*</sup></a> <small><strike>$269</strike></small></h3>
    <p><strong>Save $70</strong> - US Only</p>
    <button class="button radius" data-celery="574b43ff6f745a1100a72ca5">
      Pre-Order Now!
    </button>
  </div>
</div>