---
layout: default
---


<div class="row">
  <div class="large-12 columns text-center">
    {% image sensor-hub-splash.svg width:"1600" height:"800" alt:"Sensor Hub"%}
  </div>
</div>

{% include hub-pre-order.html %}

<hr>

<div class="row">
  <div class="large-12 columns text-center">
    <h2>Introducing the Sensor Hub!</h2>
    <p>The sensor Hub makes wired sensors easy. There are a lot of cheap wired sensors, but they are hard to use. Sensor hub solves this problem by making it as easy as plugging in a wire. The Hub provides support simultaneous use of six sensors and three relays on a single hub. We based it on <a href="https://www.particle.io/">Particle's</a> excellent IoT platform, which provides support for either WiFi or 3G mobile connectivity.</p>
    <h2>Not ready to pre-order?</h2>
    <p>Keep up to date with the project by signing up for our mailing list.</p>
    <div class="row">
      <div class="columns large-4 medium-6 medium-centered">
        {% include mc-signup.html %}
      </div>
    </div>
  </div>
</div>


<div class="feature">
  <hr>
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center">Smart Home</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 medium-push-6 columns">
      <h2>Chart power usage</h2>
      <p>Monitor your appliances' power usage with current sensors</p>
      <h2>Alerts for open doors</h2>
      <p>Add some intelligence to your wired contact sensor</p>
      <h2>Prevent water damage</h2>
      <p>Shut off your water when a leak is detected using a leak sensor and relay</p>
    </div>
    <div class="medium-6 medium-pull-6 columns">
      {% image smarthome.svg width:"500" height:"350" alt:"Smart Home"%}
    </div>
  </div>
</div>

<div class="feature">
  <hr>
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center">Smart Garage</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h2>Control two garage doors</h2>
      <p>Use the built-in relays to open and close both your garage doors</p>
      <h2>Monitor doors</h2>
      <p>Know when the garage doors are open or closed</p>
      <h2>Check the temperature
        <small>
          <a href="https://docs.automategreen.com/sensors/#temperature-sensor" target="_blank">
            <i class="fa fa-fw fa-external-link" aria-hidden="true"></i>
          </a>
        </small>
      </h2>
      <p>Place a <a href="https://docs.automategreen.com/sensors/#temperature-sensor" target="_blank">temperature sensor</a> inside and outside the garage</p>
    </div>
    <div class="medium-6 columns">
      {% image smartgarage.svg width:"500" height:"350" alt:"Smart Garage"%}
    </div>
  </div>
</div>

<div class="feature">
  <hr>
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center">Smart Yard</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 medium-push-6 columns">
      <h2>Track the environment</h2>
      <p>Leverage
        <a href="https://docs.automategreen.com/sensors/#temperature-sensor" target="_blank">temperature</a>, humidity, and soil moisture sensors to chart your yard</p>
      <h2>Control irrigation</h2>
      <p>Turn on the water only when your plants need extra water</p>
      <h2>Turn on the lights</h2>
      <p>Control your outdoor lights with the external relay controller</p>
    </div>
    <div class="medium-6 medium-pull-6 columns">
      {% image smartyard.svg width:"500" height:"350" alt:"Smart Home"%}
    </div>
  </div>
</div>

<div class="feature">
  <hr>
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center">Estimated Timeline</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns text-center">
      {% image timeline.svg width:"500" height:"700" alt:"Timeline"%}
    </div>
  </div>

 {% include hub-pre-order.html %}

</div>


<div class="feature">
  <hr>
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center">More Information</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns text-center">
      <ul class="no-bullet">
        <li><h3><a href="/sensorhub/faq/">Questions and answers (FAQ)</a></h3></li>
        <li><h3><a href="/sensorhub/specs/">Detailed specification</a></h3></li>
        <li><h3><a href="https://docs.automategreen.com/sensors/" target="_blank">Documentation (work in progress)</a></h3></li>
      </ul>
      <h3>Sensor Hub Mailing List</h3>
      <div class="row">
        <div class="columns large-4 medium-6 medium-centered">
          {% include mc-signup.html %}
        </div>
      </div>
    </div>
  </div>
</div>


<script async src="https://www.trycelery.com/js/celery.js"></script>