<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name"></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li>
              <a href="mailto:support@automategreen.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/AutomateGreen"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://github.com/automategreen"><i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="/sensorhub">Sensor Hub</a>
            </li>
            <li>
              <a href="/pricing">Pricing</a>
            </li>
            <li>
              <a href="https://blog.automategreen.com">Blog</a>
            </li>
            <li>
              <a href="http://docs.automategreen.com/api/">API</a>
            </li>
            <li>
              <a href="https://app.automategreen.com">Sign In</a>
            </li>
          </ul>
        </section>
      </nav>
    </div>

    <div class="launch">

      <div class="row">
        <div class="medium-12 large-10 small-centered columns">
          <div id="splash">
            {% image splashlogo.png alt:"Automate Green"%}
            <h3>Enhancing home automation</h3>
          </div>
        </div>
      </div>
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
